* {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
}

.my-name {
  color: #2d3c49;
  font-weight: 300;
  font-size: 40px;
}

.feat-work {
  color: #7d97ad;
}

.header-break {
  border-top: 5px solid;
  width: 100%;
  color: #7d97ad;
}
 .logo {
   /*height: 98px;*/
   padding-right: 0;
   padding-top: 20px;
}

 .st0 {
   fill:#02B3E4;
}

.name-container {
  padding-left: 0;
}

  #Layer_1 {
    height: 75px;
    width: 75px;
}

@media screen and (max-width: 450px){
  .my-name {
    font-size: 28px;
  }
}
